<h3>Add Question</h3>


<form [formGroup]="addQuestionForm" (ngSubmit)="onSubmit()">

	<div>
		<label for="internal">
  Internal Use Only
  </label>
		<input id="internal" type="checkbox" formControlName="internal">
  </div>

		<div>
			<label for="code">
  Code
  </label>
			<input id="code" type="text" formControlName="code">
  </div>

			<div>
				<label for="category">
  Category
  </label>
				<select name="category" id="category" formControlName="category">
  <option value="Location">Location</option>
  <option value="Health">Health Complications</option>
  <option value="Age">Age</option>
  <option value="Occupation">Occupation</option>
  </select>
			</div>

			<div>
				<br />
				<label for="description">
  Description
  </label>
				<input id="description" type="text" formControlName="description" size="100">
  </div>

				<div>
					<label for="answerStyle">
  Answer Style
  </label>
					<select name="answerStyle" id="answerStyle" formControlName="answerStyle">
  <option value="YesNo" selected="selected">Yes / No</option>
  <option value="SelectionList">Selection List</option>
  </select>
				</div>

				<br />
				<button class="button" [disabled]="!addQuestionForm.valid" type="submit">Add Question</button>

</form>