<a [routerLink]="['/']">
  <h1>Immunization Administrator</h1>
</a>

<table>
  <tr>
    <td><a routerLink="/home"          class="button fancy-button"><i class="material-icons">home         </i>Home</a></td>
    <td><a routerLink="/product"       class="button fancy-button"><i class="material-icons">flutter_dash </i>Prod</a></td>
    <td><a routerLink="/cart"          class="button fancy-button"><i class="material-icons">flutter_dash </i>Cart</a></td>
    <td><a routerLink="/questionnaire" class="button fancy-button"><i class="material-icons">assignment   </i>Questionnaire</a></td>
    <td><a routerLink="/analysis"      class="button fancy-button"><i class="material-icons">rule         </i>Analysis</a></td>
    <td><a routerLink="/help"          class="button fancy-button"><i class="material-icons">help         </i>Help</a></td>
  </tr>
</table>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->